<!DOCTYPE html>
<html lang="en">
<head>
    <title>RateMyService | Agency Owners: Get Lifetime Access to a Powerful Customer Review Platform</title>
    <link rel="icon" href="https://assets.ratemyservice.io/images/favicon-32.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="customer feedback, customer satisfaction, customer satisfaction survey, CSAT, email signature survey, customer satisfaction email signature">
    <meta name="description"
          content="RateMyService is an email signature widget that gets you more 5 star reviews guaranteed">
    <meta property="og:title" content="Agency Owners: Get Lifetime Access to a Powerful Customer Review Platform"/>
    <meta property="og:description" content="Boost your clients' online reviews and increase their sales today"/>
    <meta prefix="og: https://ratemyservice.io/cookies" property="og:type" content="website"/>
    <meta property="og:url" content="https://ratemyservice.io/agency"/>
    <meta property="og:image" content="https://ratemyservice.io/images/og-image-banner.webp"/>
    <meta property="og:locale" content="en_GB"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"
            integrity="sha512-0QDLUJ0ILnknsQdYYjG7v2j8wERkKufvjBNmng/EdR/s/SE7X8cQ9y0+wMzuQT0lfXQ/NhG+zhmHNOWTUS3kMA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/default.css?ver=1.0.21" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css"
          integrity="sha512-eMxdaSf5XW3ZW1wZCrWItO2jZ7A9FhuZfjVdztr7ZsKNOmt6TUMTQgfpNoVRyfPE5S9BC0A4suXzsGSrAOWcoQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="/js/tina4helper.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script id="stripeHelper" src="/js/stripeHelper.js" data-api-key="{{ stripePublicKey }}"></script>
    <script src="/js/paymentHelper.js"></script>
    <!--[if (lt IE 9)]>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css"
          integrity="sha512-eMxdaSf5XW3ZW1wZCrWItO2jZ7A9FhuZfjVdztr7ZsKNOmt6TUMTQgfpNoVRyfPE5S9BC0A4suXzsGSrAOWcoQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/><![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"
            integrity="sha512-8Uje515O2sp28OsddCuTXqV/Xc9fgNZvSnCefU4BfxD06b1nA7z0lT4OrXT50I0oLqCi4gmyxfqP0ZjRbNWrmg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="application/ld+json" src="/schema/local-business.txt"></script>
    <script type="application/ld+json" src="/schema/website.txt"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@112.5,100..800&display=swap"
          rel="stylesheet">

    {# Tracking Scripts #}
    {# Meta #}
    {% include "code-snippets/meta-tracking-pixel.twig" %}

    {# Google #}
    {% include "code-snippets/google-tracking-script.twig" %}

    {# PostHog #}
    {% include "code-snippets/posthog-tracking-script.twig" %}

    <style>
        .popular-tag.popular-tag--agency {
            display: none;
        }

        .agency-pricing-card.agency-pricing-card--popular .popular-tag.popular-tag--agency {
            display: block;
        }
    </style>
</head>
<body class="rms-agency">
{% set isKenMooPage = true %}
<header class="rms-landing-header">
    {% set pageName = 'MarketingAgency-ltd' %}
    {% include "components/header.twig" %}
</header>

<section class="rms-agency-hero rms-agency-hero--ken-moo rms-agency-hero--ltd overflow-hidden"
         style="background-image: url(https://assets.ratemyservice.io/images/rms-landing-background-gradient.webp);">
    <div class="container position-relative z-1">
        <div class="rms-agency-hero__content">
            <div class="rms-agency-hero__text">
                <h1 class="text-white"><strong>Customer Review Management Software</strong></h1>
                <h2 class="text-white"><strong>
                        Boost your 5-star reviews with RateMyService</strong></h2>
                <h3 class="text-white rms-ken-moo--agency-hero-heading">
                    <strong>RateMyService offers Review Management Software for <span
                                class="highlight highlight--agency highlight--agency-ken-moo"
                                style="background-image: url(https://assets.ratemyservice.io/images/rms-agency-bundles-highlight.svg); border-radius: 12px;">Businesses</span>
                        and <br><span
                                class="highlight highlight--agency highlight--agency-ken-moo"
                                style="background-image: url(https://assets.ratemyservice.io/images/rms-yellow-bg.svg); border-radius: 12px; color: #23314C !important;">Agencies</span></strong>
                </h3>
                <div class="rms-agency-cta-buttons-container">
                    <div class="rms-agency-cta-buttons">
                        <a class="btn buy-bundle-btn buy-bundle-btn--pink d-block" href="#business-pricing">
                            Businesses
                        </a>
                    </div>
                    <div class="rms-agency-cta-buttons">
                        <a class="btn agency-btn agency-btn--marketing d-block" href="#marketing-pricing">
                            Agencies
                        </a>
                    </div>
                </div>
            </div>
            <div class="rms-agency-ltd-image__container">
                <img class="rms-agency-ltd-image"
                     src="https://assets.ratemyservice.io/images/rms-agency-ltd-image.webp"
                     alt="An illustration of characters holding stars">
            </div>
        </div>
    </div>
    <img class="section-split section-split--wave"
         src="https://assets.ratemyservice.io/images/rms-section-split-wave.svg"
         alt="A wave pattern that splits two sections">

</section>

<section class="section section--gray overflow-hidden" style="padding-top: 0;">
    <div id="rms-slider" style="max-width: 788px; margin: auto auto 80px auto;">
        <div class="slider-container">
            <ul class="control" id="custom-control">
                <li class="prev">
                    <i class="fa fa-angle-left fa-2x"></i>
                </li>
                <li class="next">
                    <i class="fa fa-angle-right fa-2x"></i>
                </li>
            </ul>
            <div class="rms-slider" style="display: flex;">
                <img src="https://assets.ratemyservice.io/images/review-logo-trustpilot.svg"
                     alt="Trustpilot Reviews Logo">
                <img src="https://assets.ratemyservice.io/images/review-logo-yelp.svg"
                     alt="Yelp Reviews Logo">
                <img src="https://assets.ratemyservice.io/images/review-logo-tripadvisor.svg"
                     alt="Tripadvisor Reviews Logo">
                <img src="https://assets.ratemyservice.io/images/review-logo-facebook.svg"
                     alt="Facebook Reviews Logo">
                <img src="https://assets.ratemyservice.io/images/review-logo-google.svg"
                     alt="Google Reviews Logo">
            </div>
        </div>
    </div>
    <h2 class="text-center mb-5">Explore our <strong><span
                    class="yellow-highlight message">flexible pricing plans</span></strong>
        tailored to your needs</h2>
    <div id="business-pricing" class="container" style="max-width: 880px;">
        <div class="stockLeft-cta" style="font-size: 36px; font-weight: 900; text-align: center;">
           {#   {% if stockLeft > 0 %}
                <span class="highlight highlight--agency"
                      style="background-image: url(https://assets.ratemyservice.io/images/rms-yellow-bg.svg); padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 8px; font-size: 46px;">
      Only {{ stockLeft }} Left!</span><br> Get your Lifetime Deal now!
            {% else %}
           #}
                <span class="highlight highlight--agency"
                      style="background-image: url(https://assets.ratemyservice.io/images/rms-yellow-bg.svg); padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 8px; font-size: 46px;">

            Sold Out!</span><br> Stay tuned for future offers.
            {#
            {% endif %}
            #}
        </div>

        {# FOUNDER BUNDLES #}
        {#
        <h1 class="text-center my-5 fw-bold text-uppercase">Review Management Software for <span
                    class="highlight highlight--agency text-white"
                    style="background-image: url(https://assets.ratemyservice.io/images/rms-agency-bundles-highlight.svg); padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 8px;">Businesses</span>
            (Lifetime Deal)
        </h1>
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div id=""
                     class="agency-pricing-card card text-center mb-4"
                     style="position: relative; overflow: hidden;">

                    <ul class="list-group">
                        <li class="list-group-item">
                            {% for couponBundle in couponBundlesFounder %}
                                <p id="founder_bundle_name_{{ couponBundle.couponBundleId }}"
                                   class="agency-bundle-name agency-bundle-name--founder"
                                   style="font-size: 24px; display: none;">
                                    <strong><span>{{ couponBundle.couponBundleName }}</span></strong>
                                </p>
                                <h2 id="founder_bundle_price_{{ couponBundle.couponBundleId }}"
                                    class="actual-price actual-price--founder"
                                    style="display: none;">
                                    <strong>${{ couponBundle.priceIncl|number_format(2) }}</strong>
                                </h2>
                            {% endfor %}

                            <select id="bundle_select_founder" class="form-select mt-2 mb-3 code-select-dropdown"
                                    aria-label="Agency Founder Code Options">
                                {% for couponBundle in couponBundlesFounder %}
                                    <option value="{{ couponBundle.couponBundleId }}"
                                            data-price="{{ couponBundle.priceIncl|number_format }}"
                                            data-name="{{ couponBundle.couponBundleName }}"
                                            data-campaign="{{ couponBundle.campaignId }}"
                                            data-campaign="{{ couponBundle.campaign }}">{{ couponBundle.couponBundleName }}</option>
                                {% endfor %}
                            </select>

                            <p><strong>One-time payment |</strong> No monthly fees</p>

                            <!-- Coupon Bundle Button -->
                            <button id="bundle_buy_button_founder"
                                    {% if stockLeft > 0 %}onclick="showForm('create', '/purchase/coupon-bundle/form?bundleId=' + $('#bundle_select_founder').val() +'&formToken={{ formToken ("/purchase/coupon-bundle") }}&pageUrl={{ '/marketing-agency-ltd-ken-moo'|url_encode }}&campaignId=' + $('#bundle_select_founder option:selected').attr('data-campaign'));" {% else %} disabled style="opacity: .5;" {% endif %}
                                    class="pricing-button-2 pricing-button-2-aligned mx-auto">
                                <span>{% if stockLeft > 0 %}Buy Now{% else %}Sold Out{% endif %}</span>
                            </button>
                        </li>

                        <li class="list-group-item p-0">
                            <section style="background-color: rgba(35, 49, 76, 0.05); padding: 20px 0;">
                                <div class="container">
                                    <img class="mw-100"
                                         src="https://assets.ratemyservice.io/images/30-day-money-back-gaurantee-badge.png">
                                </div>
                            </section>
                        </li>
                        <li class="list-group-item">
                            <h4 class="small-text">Staff Members Accounts
                                <span class="d-inline-block" tabindex="0"
                                      data-bs-toggle="tooltip"
                                      data-bs-title="Staff Member Accounts do not have their own login to the system, but will however receive Email Notifications, and will have all their Customer Feedback & Reporting data accessible to the Administrators.">
                 <span style="white-space: nowrap;"><img
              src="https://assets.ratemyservice.io/images/rms-info-icon.svg"
              class="tooltip-info"></span>
                        </span>
                            </h4>

                            <div id="accountCountsFounder">
                                <p class="staff-member-account staff-member-account--counts-founder"
                                   id="additionalInfoStartupA" style="color: #FE0056; display: none;">
                                    <strong><span>10</span></strong></p>
                                <p class="staff-member-account staff-member-account--counts-founder"
                                   id="additionalInfoStartupB" style="color: #FE0056; display: none;">
                                    <strong><span>50</span></strong></p>
                                <p class="staff-member-account staff-member-account--counts-founder"
                                   id="additionalInfoStartupC" style="color: #FE0056; display: none;">
                                    <strong><span>UNLIMITED</span></strong></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                <div class="card mb-5 inclusive">
                    <p class="agency-bundle-name"><strong style="font-size: 16px">Also included in
                            Agency/White-labeled bundles:</strong></p>
                    <ul class="starter-bundles mb-0">
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">60 DAY Money-Back Satisfaction GUARANTEE
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">LIFE-TIME access to RateMyService
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Includes all FUTURE ENTERPRISE & AGENCY
                            PLAN UPDATES
                        </li>
                    </ul>

                    <p class="agency-bundle-name"><strong style="font-size: 16px">Additional Benefits:</strong></p>
                    <ul class="starter-bundles mb-0">
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2"><span class="d-inline-block" tabindex="0"
                                                                                   data-bs-toggle="tooltip"
                                                                                   data-bs-title=" Administrators help manage the account and oversee the reviews they have received. Administrators have full access to each single account. Administrators are not to be confused with Staff Members. Administrators of the Master Account will have all the privileges of the primary Administrator of the Master Account.">

                <span style="white-space: nowrap;">UNLIMITED Administrators for Each Account Included <img
              src="https://assets.ratemyservice.io/images/rms-info-icon.svg"
              class="tooltip-info"></span>
                        </span></li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Each Staff Member Account can receive
                            UNLIMITED Reviews / Responses
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">UNLIMITED
                            Email Alerts from Submitted Reviews / Responses
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Customizable
                            & Animated Email Signature Widgets, & Call-to-Actions (CTA)
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Mobile Friendly Survey Forms
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2"><span class="d-inline-block" tabindex="0"
                                                                                   data-bs-toggle="tooltip"
                                                                                   data-bs-title=" Display your Customer Touchpoints (i.e. Call-to-Action, Survey Forms, & Review Filter) in the Language of your choosing. Feel free to request your Language if it's missing!">
                <span style="white-space: nowrap;">20+ Languages <img
              src="https://assets.ratemyservice.io/images/rms-info-icon.svg"
              class="tooltip-info"></span>
                </span></li>
                    </ul>

                </div>
            </div>
        </div>
        #}


        {# AGENCY BUNDLES #}
        {#
        <h1 id="marketing-pricing" class="text-center my-5 fw-bold text-uppercase">White-Labelled review management
            software for <span class="highlight highlight--agency"
                               style="background-image: url(/images/rms-yellow-bg.svg); padding-left: 12px; padding-right: 12px; overflow: hidden; border-radius: 8px;">Agencies</span>
            (Lifetime Deal)</h1>
        <div id="form" class="payment__form"></div>
        <div id="message"></div>
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div id="pricingCard"
                     class="agency-pricing-card agency-pricing-card--popular card text-center mb-4"
                     style="position: relative; overflow: hidden;">

                    <div class="popular-tag popular-tag--agency">
                        POPULAR
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item"><p class="agency-bundle-name agency-bundle-name--90"
                                                       style="font-size: 24px">
                                {% for couponBundle in couponBundles90 %}
                            <p id="bundle_name_{{ couponBundle.couponBundleId }}"
                               class="agency-bundle-name agency-bundle-name--90"
                               style="font-size: 24px; display: none;">
                                <strong><span>{{ couponBundle.couponBundleName }}</span></strong>
                            </p>
                            <h2 id="bundle_price_{{ couponBundle.couponBundleId }}"
                                class="actual-price actual-price--90"
                                style="display: none;">
                                <strong>${{ couponBundle.priceIncl|number_format(2) }}</strong>
                            </h2>
                            {% endfor %}
                            <p class="" style="font-size: 24px; color: #FE0056;"><strong>90% discount</strong></p>
                            <select id="codeSelect" class="form-select mt-2 mb-3 code-select-dropdown"
                                    aria-label="Agency Unlimited Code Options">
                                {% for couponBundle in couponBundles90 %}
                                    <option value="{{ couponBundle.couponBundleId }}"
                                            data-price="{{ couponBundle.priceIncl|number_format }}"
                                            data-name="{{ couponBundle.couponBundleName }}"
                                            data-campaign="{{ couponBundle.campaignId }}"
                                            {% if loop.first %} selected {% endif %}>
                                        {{ couponBundle.couponBundleName }}
                                    </option>
                                {% endfor %}
                            </select>
                            <p><strong>One time payment |</strong> No monthly fees</p>
                            <button id="couponBundlesButton"
                                    {% if stockLeft > 0 %}onclick="showForm('create', '/purchase/coupon-bundle/form?bundleId=' + $('#codeSelect').val() +'&formToken={{ formToken ("/purchase/coupon-bundle") }}&pageUrl={{ '/agency'|url_encode }}&campaignId=' + $('#codeSelect option:selected').attr('data-campaign'));" {% else %} disabled style="opacity: .5;" {% endif %}
                                    class="pricing-button-2 pricing-button-2-aligned mx-auto">
                                <span>{% if stockLeft > 0 %}Buy Now{% else %}Sold Out{% endif %}</span>
                            </button>
                        </li>

                        <li class="list-group-item p-0">
                            <section style="background-color: rgba(35, 49, 76, 0.05); padding: 20px 0;">
                                <div class="container">
                                    <img class="mw-100"
                                         src="https://assets.ratemyservice.io/images/30-day-money-back-gaurantee-badge.png">
                                </div>
                            </section>
                        </li>
                        <li class="list-group-item">
                            <h4 class="small-text">Additional White-Labeled ENTERPRISE Account Available to
                                <a tabindex="0"
                                   class="agency-fine-print text-dark"
                                   role="button"
                                   data-bs-toggle="popover"
                                   data-bs-trigger="focus"
                                   data-bs-content="** Each WHITE-LABELED ENTERPRISE Account includes it's own CNAME and the ability to create an UNLIMITED number of Staff Member accounts.">Resell</a>:
                            </h4>
                            <div id="accountCounts">
                                <p class="staff-member-account staff-member-account-counts--90"
                                   id="additionalInfoStartupA" style="color: #FE0056; display: none;">
                                    <strong><span>1</span></strong></p>
                                <p class="staff-member-account staff-member-account-counts--90"
                                   id="additionalInfoStartupB" style="color: #FE0056; display: none;">
                                    <strong><span>5</span></strong></p>
                                <p class="staff-member-account staff-member-account-counts--90"
                                   id="additionalInfoStartupC" style="color: #FE0056; display: none;">
                                    <strong><span>10</span></strong></p>
                                <p class="staff-member-account staff-member-account-counts--90"
                                   id="additionalInfoStartupD" style="color: #FE0056; display: none;">
                                    <strong><span>30</span></strong></p>
                                <p class="staff-member-account staff-member-account-counts--90"
                                   id="additionalInfoStartupE" style="color: #FE0056; display: none;">
                                    <strong><span>50</span></strong></p>
                                <p class="staff-member-account staff-member-account-counts--90"
                                   id="additionalInfoStartupF" style="color: #FE0056; display: none;">
                                    <strong><span>UNLIMITED</span></strong></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                <div class="card mb-5 inclusive">
                    <p class="agency-bundle-name"><strong style="font-size: 16px">Also included in
                            Agency/White-labeled bundles:</strong></p>
                    <ul class="starter-bundles mb-0">
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Entire Agency Ecosystem is WHITE-LABELED
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Unique BRANDING AREA for each PRIMARY
                            AGENCY Account
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">SUPER ADMIN DROPDOWN, with the ability to
                            quickly SWITCH between your Client-Accounts
                        </li>
                    </ul>
                    <p class="agency-bundle-name"><strong style="font-size: 16px">Money Back Gaurantee:</strong></p>
                    <ul class="starter-bundles mb-0">
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">60 DAY Money-Back Satisfaction GUARANTEE
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">LIFE-TIME access to RateMyService
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Includes all FUTURE ENTERPRISE & AGENCY
                            PLAN UPDATES
                        </li>
                    </ul>

                    <p class="agency-bundle-name"><strong style="font-size: 16px">Additional Benefits:</strong></p>
                    <ul class="starter-bundles mb-0">
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2"><span class="d-inline-block" tabindex="0"
                                                                                   data-bs-toggle="tooltip"
                                                                                   data-bs-title=" Administrators help manage the account and oversee the reviews they have received. Administrators have full access to each single account. Administrators are not to be confused with Staff Members. Administrators of the Master Account will have all the privileges of the primary Administrator of the Master Account.">

            <span>UNLIMITED Administrators for Each Account Included <img
              src="https://assets.ratemyservice.io/images/rms-info-icon.svg"
              class="tooltip-info"></span>
                        </span></li>


                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Each Staff Member Account can receive
                            UNLIMITED Reviews / Responses
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">UNLIMITED
                            Email Alerts from Submitted Reviews / Responses
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Customizable
                            & Animated Email Signature Widgets, & Call-to-Actions (CTA)
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2">Mobile Friendly Survey Forms
                        </li>
                        <li><img src="https://assets.ratemyservice.io/images/check-icon.svg" alt="alt"
                                 class="feature-check-icon float-start me-2"><span class="d-inline-block" tabindex="0"
                                                                                   data-bs-toggle="tooltip"
                                                                                               data-bs-title=" Display your Customer Touchpoints (i.e. Call-to-Action, Survey Forms, & Review Filter) in the Language of your choosing. Feel free to request your Language if it's missing!">
              <span style="white-space: nowrap;">20+ Languages <img
                          src="https://assets.ratemyservice.io/images/rms-info-icon.svg"
                          class="tooltip-info"></span>
            </span></li>
                    </ul>

                </div>
            </div>
        </div>  #}
    </div>
    <div id="intro-pic"
         style="background-image: url(https://assets.ratemyservice.io/images/rms-landing-background-gradient.webp);">
        <div class="rms-section-split rms-section-split--absolute" id="split-svg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
                <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                      style="stroke-width: 0; fill: #F5F6F8;"></path>
            </svg>
        </div>
    </div>
</section>

<section style="background-color:#ffffff; position: relative; padding: 80px 0">
    <div class="rms-section-split rms-section-split--absolute" id="split-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
            <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                  style="stroke-width: 0; fill: #f5f6f8;"></path>
        </svg>
    </div>
    <div class="container">
        {% include "components/trustpilot-reviews-widget.twig" %}
    </div>
</section>

<div class="rms-section-split">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25" style="top: 21px; position: relative;">
        <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
              style="stroke-width:0; fill: #fff;"/>
    </svg>
</div>
<section class="section section--white section--white-label overflow-hidden" style="background: #f5f6f8;">
    <div class="container">
        <div class="rms-white-label__content">
            <div>
                <h2 class="rms-white-label-heading mb-4"><strong>With this bundle, you'll get lifetime access to our
                        powerful customer review platform, which includes a variety of features to help you collect,
                        manage, and display reviews, including:</strong></h2>
                <ul class="rms-bullet-list">
                    <li>A white-label / CNAME platform that you can <strong>brand with your own logo and
                            colours</strong></li>
                    <li>Agency <strong>branding settings</strong></li>
                    <li>A super admin dropdown for <strong>quick account switching</strong></li>
                </ul>
                <div class="rms-profits-addition mt-4" style="background: rgba(209, 209, 209, .35);">
                    <img src="https://assets.ratemyservice.io/images/rms-icon-up-arrows.svg"
                         alt="An icon with three colorful arrows pointing upwards">
                    Plus, you'll get to set your own client pricing, so you can maximize your profits.
                </div>
            </div>
            <div class="rms-agency-mockup--laptop position-relative">
                <img class="rms-agency-mockup__image--laptop rms-agency-mockup__image--laptop"
                     src="https://assets.ratemyservice.io/images/rms-agency-laptop-mockup.webp"
                     alt="A mockup of a laptop with a screen showing white-label options">
            </div>
        </div>
    </div>
</section>

<section class="section section--gradient overflow-hidden position-relative overflow-hidden"
         style="background-image: url(https://assets.ratemyservice.io/images/rms-landing-background-gradient.webp);">
    <div class="rms-section-split rms-section-split--absolute">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
            <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
                  style="stroke-width: 0; fill: #FFF;"/>
        </svg>
    </div>
    <div class="container text-center py-5">
        <h2 class="text-white"><strong>With our white-label solution, your clients will never see our brand or
                receive emails from us.</strong></h2>
        <h2 class="text-white"><strong>Instead, they'll see your branding and receive emails from your domain.</strong>
        </h2>
    </div>
    <div class="rms-section-split--solid rms-section-split--absolute">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2568 55">
            <path d="M2568 0v55H0V0h1238.2c20.09 0 38.2 13.14 45.8 33.25C1291.6 13.14 1309.69 0 1329.78 0H2568Z"
                  style="stroke-width: 0; fill: #F5F6F8"/>
        </svg>
    </div>
</section>

<section class="section section--gray" id="howitworks">
    <div class="container">
        <h2 class="text-center mb-5"><strong>How it works:</strong></h2>
        <div class="rms-agency-how-it-works">
            <div class="rms-step-column">
                <div class="rms-icon-container">
                    <img src="https://assets.ratemyservice.io/images/rms-icon-lifetime.svg"
                         alt="An icon of a pink heart with a clock inside">
                </div>
                <h3>Purchase a <strong>lifetime code</strong>
                    bundle.</h3>
            </div>

            <div class="rms-step-column">
                <div class="rms-icon-container">
                    <img src="https://assets.ratemyservice.io/images/rms-icon-label.svg"
                         alt="An icon of a blue label">
                </div>
                <h3><strong>Apply</strong> for <strong>the White-label
                        / CNAME Module</strong>.</h3>
                <a class="btn apply-btn apply-btn--center mt-4"
                   href="/contact-us">Apply Here!<img
                            src="https://assets.ratemyservice.io/images/blue-arrow.svg"
                            alt="A blue arrow pointing to a button"></a>
            </div>
            <div class="rms-step-column">
                <div class="rms-icon-container">
                    <img src="https://assets.ratemyservice.io/images/rms-icon-customize.svg"
                         alt="An icon of a yellow gear">
                </div>
                <h3><strong>Customize</strong> your ecosystem
                    with your <strong>own branding
                        and settings</strong>.</h3>
            </div>
            <div class="rms-step-column">
                <div class="rms-icon-container">
                    <img src="https://assets.ratemyservice.io/images/rms-icon-brand.svg"
                         alt="An icon of a green coin">
                </div>
                <h3>Start selling our software to your clients under <strong>your own brand!</strong></h3>
            </div>

        </div>
    </div>
</section>
<div class="rms-section-split">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.06 33.25">
        <path d="M0 0h99.06C77.33-.02 57.75 13.13 49.53 33.25 41.3 13.14 21.73 0 0 0"
              style="stroke-width:0; fill: #F5F6F8;"/>
    </svg>
</div>
<section class="section section--white overflow-hidden">
    <div class="container" style="max-width: 1060px;">
        <h2 class="rms-pricing-table-heading mb-4"><strong>Benefits of Using Our White Label Software:</strong></h2>
        <ul class="rms-bullet-list">
            <li class="mb-3"><strong>Seamless integration:</strong> Clients signing up with your domain URL will
                automatically be part of your
                ecosystem and have your branding. All system emails will be sent from your own domain.
            </li>
            <li class="mb-3"><strong>Comprehensive support:</strong> We provide email support to you and your clients
                with a generic email address.
            </li>
            <li class="mb-3"><strong>Flexible pricing:</strong> Unused codes <strong>don't expire</strong>, and you can
                transfer codes from cancelled accounts to new accounts <strong>with no time limits</strong> or
                restrictions.
            </li>
            <li class="mb-3"><strong>Easy account management:</strong> As the agency owner, you can easily switch
                between different clients' accounts
                using the Super Admin dropdown. You can also add yourself to clients' accounts to receive notifications.
            </li>
            <li class="mb-3"><strong>Training Videos:</strong> Non-branded training videos are provided in the
                Dashboard.
            </li>
        </ul>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
/*
        // Founder
        const selectElementFounder = document.getElementById('bundle_select_founder'); // Updated ID for the select element
        const accountCountsFounder = document.querySelectorAll('.staff-member-account--counts-founder'); // Updated class for account counts

        // Function to show/hide elements based on selection
        function updateDisplayFounder(selectedValueFounder) {
            // Hide all <p> and <h2> elements
            document.querySelectorAll('.agency-bundle-name--founder').forEach(function (p) { // Updated class for bundle names
                p.style.display = 'none';
            });
            document.querySelectorAll('.actual-price--founder').forEach(function (h2) { // Updated class for actual prices
                h2.style.display = 'none';
            });

            // Hide all account counts
            accountCountsFounder.forEach(function (p) {
                p.style.display = 'none';
            });

            // Show the corresponding <p> and <h2> based on the selected option
            const selectedP = document.getElementById('founder_bundle_name_' + selectedValueFounder); // Updated ID logic
            const selectedH2 = document.getElementById('founder_bundle_price_' + selectedValueFounder); // Updated ID logic
            if (selectedP && selectedH2) {
                selectedP.style.display = 'block';
                selectedH2.style.display = 'block';
            }

            // Show the corresponding account count based on the index of the selected option
            const selectedIndex = selectElementFounder.selectedIndex;
            if (accountCountsFounder[selectedIndex]) {
                accountCountsFounder[selectedIndex].style.display = 'inline-block';
            }
        }

// Listen to change event on select element
        selectElementFounder.addEventListener('change', function () {
            updateDisplayFounder(this.value);
        });

// Trigger change event on page load for the first selected option
        updateDisplayFounder(selectElementFounder.value);


        // Discount
        const selectElement90 = document.getElementById('codeSelect');
        const accountCounts90 = document.querySelectorAll('.staff-member-account-counts--90');

        // Function to show/hide elements based on selection
        function updateDisplay90(selectedValue90) {
            // Hide all <p> and <h2> elements

            document.querySelectorAll('.agency-bundle-name--90').forEach(function (p) {
                p.style.display = 'none';
            });
            document.querySelectorAll('.actual-price--90').forEach(function (h2) {
                h2.style.display = 'none';
            });

            // Hide all account counts
            accountCounts90.forEach(function (p) {
                p.style.display = 'none';
            });

            // Show the corresponding <p> and <h2> based on the selected option
            const selectedP = document.getElementById('bundle_name_' + selectedValue90);
            const selectedH2 = document.getElementById('bundle_price_' + selectedValue90);
            if (selectedP && selectedH2) {
                selectedP.style.display = 'block';
                selectedH2.style.display = 'block';
            }

            // Show the corresponding account count based on the index of the selected option
            const selectedIndex = selectElement90.selectedIndex;
            if (accountCounts90[selectedIndex]) {
                accountCounts90[selectedIndex].style.display = 'inline-block';
            }
        }

        // Listen to change event on select element
        selectElement90.addEventListener('change', function () {
            updateDisplay90(this.value);
        });

        // Trigger change event on page load for the first selected option
        updateDisplay90(selectElement90.value);

*/
        // Initialize the slider (assuming you are using a slider library like 'tiny-slider')
        var slider = tns({
            container: '.rms-slider',
            controlsPosition: 'bottom',
            navPosition: 'bottom',
            mouseDrag: true,
            autoplay: true,
            autoplayButtonOutput: false,
            controlsContainer: '#custom-control',
            items: 1,
            responsive: {
                600: {
                    gutter: 20,
                    items: 2
                },
                700: {
                    items: 3,
                    gutter: 30
                },
                900: {
                    items: 5,
                    gutter: 40
                }
            }
        });
/*
        // Bootstrap popover initialization
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
        popoverTriggerList.forEach(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));

        // Bootstrap popover for dismissable popover
        const popoverDismissList = document.querySelectorAll('.popover-dismiss');
        popoverDismissList.forEach(popoverDismissEl => new bootstrap.Popover(popoverDismissEl, {
            trigger: 'focus'
        }));

        // Bootstrap tooltip initialization
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        tooltipTriggerList.forEach(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
        */

    });
</script>
{% include "components/marketing-agency-hover-strip.twig" %}
<footer>
    {% include "components/footer.twig" %}
</footer>
