{#
Props:
- subheading (string)
- heading (string)
- content (string)
- button_text (string)
- button_url (string)
#}

<section id="white-label-deals">
    <div class="container pad-container shadow-lg px-0"
         style="background-image: url(https://assets.ratemyservice.io/images/rms-landing-background-gradient.webp); background-size:cover; border-radius: 8px; overflow: hidden;">
        <div class="row">
            <div class="col-lg-6 col-sm-12 rms-deals-cta-text">
                <div class="h-100 d-flex justify-content-center flex-column p-lg-5 p-sm-5 p-4">
                    <div class="d-flex flex-column align-items-start">
                        {% if subheading is defined and subheading %}
                            <h4 class="red-highlight-sub-heading text-white">
                                {{ subheading }}
                            </h4>
                        {% endif %}
                    </div>

                    {% if heading is defined and heading %}
                        <h2 class="section-heading text-white my-3">
                            {{ heading }}
                        </h2>
                    {% endif %}

                    {% if content is defined and content %}
                        <p class="text-white mt-2">
                            {{ content }}
                        </p>
                    {% endif %}

                    {% if button_text is defined and button_url is defined %}
                        <div>
                            <a class="free-trial-btn w-auto p-3 my-3"
                               href="{{ button_url }}">
                                {{ button_text }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 rms-deals-cta-graphic pt-lg-5 pt-sm-0 pt-0">
                <img class="rms-agency-mockup__image--laptop float-end rounded-3 w-100"
                     src="/images/rms-deals-cta-graphic.svg"
                     alt="A mockup of a laptop with a screen showing white-label options">
            </div>
        </div>
    </div>
</section>